body {
    background-color:brown
}

#listOfClientsDiv {
    border: solid;
    height: 30vh;
    width: 40vh;
    margin: auto; 
    background-color: white;
}

h3 {
    text-align: center;
}

#listOfClientsDivUL {
    display: flex;
    flex-direction: column;
    
}
